.right-block {
  width: 265px;
  height: 42px;
  background-color:  #3E3E3E;
  display: flex;
  align-items: center;
}

.main-block{
  display: flex;
  align-items: center;
  margin:15px 0px 15px 15px;
}

.main-block p{
    font-family: Arial, sans-serif;
  font-size: 16px;
  color: white; 
  cursor: pointer;
}

.separator {
  margin: 0 5px;
  height: 25px;
  border-radius: 3px 0px 0px 0px;
}

.reon-logo {
  width: 78px;
  height: 20px;
}

.arrow {
  margin: auto auto;
  transition: transform 0.3s ease;
  transform: rotate(180deg)
}

.arrow.rotated {
  transform: rotate(0deg);
}

.main-info {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  height: 203px;
  width: 265px;
  background-color: #FFFFFF;
}

.main-info > div:first-child{
  width: 245px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-info h3{
  margin: 0px;
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.29px;
  text-align: center;
  color: #363B44;
}

.main-info p{
  font-family: PT Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.41px;
  text-align: left;
  color: #363B44;
  margin: 10px auto 20px;
}

.main-info button{
  height: 44px;
  width: 177px;
}

.references{
  margin-top: 0px;
  padding-top: 20px;
  width: 265px;
  height: 246px;
  background-color: #3E3E3E;
}

.references > div:first-child{
  width: 245px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.references h3{
  margin: 0px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24.2px;
  text-align: left;
}

.green-text {
  color: #9FC136;
}

.references p{
  font-family: PT Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.41px;
  text-align: left;
  margin: 10px auto 20px;
}

.references button{
  align-self: flex-end;
  width: 143px;
  height: 48px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #9FC136;
  margin: auto 0px auto auto;
  background-color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 18.15px;
  color: #3E3E3E;
}
